@import url("https://fonts.googleapis.com/css?family=Assistant:400,800&display=swap");
:root {
  --mainColor: #222;
  --accentColor: #27ae60;
}

body,
html {
  font-family: 'Assistant', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  font-size: 1.05rem;
  color: var(--mainColor);
}

* {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

h1 {
  font-size: 3rem;
}

.container {
  max-width: 960px;
  padding: 0 25px;
  margin: 0 auto;
}

.home__hero {
  padding: 5vw 0;
}

a.button {
  padding: 10px;
  min-width: 120px;
  text-align: center;
  background-color: #ececec;
  color: var(--mainColor);
  border-radius: 3px;
  text-decoration: none;
  font-size: 1rem;
}

.post__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__header h2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.post__header a {
  text-decoration: none;
  color: var(--mainColor);
}

.site__header {
  padding: 2rem 0;
}

.site__header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site__header .logo {
  font-weight: 700;
}

.site__header .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--mainColor);
}

.site__header .logo h1 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.site__header .logo img {
  border-radius: 50%;
  max-width: 60px;
}

.site__header .logo span {
  padding-left: 15px;
  font-weight: 700;
}

.site__header .nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0 0 0 25px;
  margin: 0;
}

.site__header .nav li {
  padding: 0;
  margin: 0;
}

.site__header .nav li:not(:last-of-type) {
  margin-right: 15px;
}

.site__header .nav li.nav-item-active a {
  text-decoration: underline;
}

.site__header .nav li a {
  color: var(--mainColor);
  text-decoration: none;
}

.site__header .social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site__header .social li {
  margin: 0;
  padding: 0;
}

.postlist-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px;
  margin-left: -15px;
}

.postlist-item:hover {
  background-color: #f8f8f8;
}

.postlist-item-link {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.postlist-item-tags {
  width: 100%;
}

.postlist-item-tags a {
  background-color: var(--accentColor);
  color: #fff;
  display: inline-block;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 0.75rem;
}
/*# sourceMappingURL=styles.css.map */