body,
html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  font-size: 1.05rem;
}

* {
  box-sizing: content-box;
}

.container {
  max-width: 960px;
  padding: 0 25px;
  margin: 0 auto;
}

.home__hero {
  padding: 5vw 0;

  h1 {
    font-size: 3rem;
  }
}

a {
  &.button {
    padding: 10px;
    min-width: 120px;
    text-align: center;
    background-color: #ececec;
    color: #000;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1rem;
  }
}

.post__header {
  display: flex;
  align-items: center;

  h1 {
    flex-grow: 1;
  }

  a {
    text-decoration: none;
    color: #000;
  }
}
