// @import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Assistant:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');

body,
html {
  font-family: 'Roboto Mono', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  font-size: 1.05rem;
  color: var(--mainColor);
}

* {
  box-sizing: content-box;
}

h1 {
  font-size: 3rem;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Assistant';
    font-weight: 800;
}

.container {
  max-width: 960px;
  padding: 0 25px;
  margin: 0 auto;
}

.home__hero {
  padding: 5vw 0;
}

a {
  &.button {
    padding: 10px;
    min-width: 120px;
    text-align: center;
    background-color: #ececec;
    color: var(--mainColor);
    border-radius: 3px;
    text-decoration: none;
    font-size: 1rem;
  }
}

.post__header {
  display: flex;
  align-items: center;

  h2 {
    flex-grow: 1;
  }

  a {
    text-decoration: none;
    color: var(--mainColor);
  }
}
