button {
  &#nav__toggle {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 6;
    appearance: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    cursor: pointer;

    span {
      width: 40px;
      height: 3px;
      display: block;
      background-color: var(--mainColor);

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }
}

.site__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #fff;
  display: flex;
  opacity: 0;
  visibility: hidden;

  &-nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    a {
      color: var(--mainColor);
      font-size: 4rem;
      line-height: normal;
      text-decoration: none;
    }
  }
}
