.site__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 2rem;
  font-size: 1.25rem;

  .menu__open & {
    opacity: 1;
    visibility: visible;
  }

  &-logo {
    a {
      color: var(--mainColor);
      text-decoration: none;
    }
  }

  &-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    a {
      color: var(--mainColor);
      line-height: normal;
      text-decoration: none;

      &:not(:last-of-type) {
        margin-right: 1rem;
      }
    }
  }
}
