---
layout: layouts/home.njk
tags:
  - nav
navtitle: Posts
permalink: /posts/
---

<div class="page__hero">
<h1>All Posts</h1>
</div>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
