---
layout: layouts/home.njk
tags:
- nav
navtitle: Home
---

<div class="page__hero">
  <img src="{{ '/img/fc-profile.jpg' | url }}" class="profile_image"/>
  <h1>Hello, I'm Joel!</h1>
  <p>I'm a frontend web developer from Melbourne currently working at studio chriate.</p>
  <p>i build beautiful pixel perfect wordpress websites.</p>
  <div class="follow__me">
    <a href="https://twitter.com/Joel_Krause?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-dnt="true"
      data-show-count="false" data-size="large">Follow @Joel_Krause</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

<header class="post__header">
  <h2>Latest Posts</h2>
  <a href="{{ '/posts/' | url }}">See All Posts</a>
</header>

{% set postslist = collections.posts | head(-6) %}
{% include "postslist.njk" %}