---
new_page_extension: md
auto_deploy: false
admin_path: "/admin"
webhook_url: 
sections:
- type: heading
  label: Content
- type: directory
  path: posts
  label: Posts
  create: documents
  match: "**/*"
  exclude: posts.json
  templates:
  - post
- type: directory
  path: pages
  label: Pages
  create: documents
  match: "**/*"
  exclude: pages.json
  templates:
  - page
upload_dir: img
public_path: "/img"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  install_dependencies_command: npm install
  preview_docker_image: node:10
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run forestry:preview
