---
layout: layouts/base.njk
templateClass: tmpl-post
---
<a href="/" class="single_back"><- Back Home</a>
<div class="container">
  <div class="page__hero">
    <h1>{{ title }}</h1>
    <div class="date">
      {{ date | readableDate }}
    </div>
    <div class="description">
      {{ description }}
    </div>
  </div>

  {{ content | safe }}
</div>
